/* Общие стили */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#header, #footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

#nav {
    background: #333;
    color: #fff;
}

#nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
}

#nav ul li a:hover {
    background-color: #555;
}

#section {
    padding: 20px;
    background: #e4e4e4;
    min-height: 400px; /* Just for demo, adjust to your requirement */
}

h1, h2 {
    color: #333;
}

/* Формы и элементы форм */
form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #666;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

/* Стиль подвала сайта */
#footer {
    clear: both;
    font-size: 0.8em;
}

/* Стили для таблиц */
table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Стили для кнопок */
button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Стили для обработки ошибок */
.error-message {
    color: #ff0000;
    margin: 10px 0;
}

/* Медиа запросы для отзывчивого дизайна */
@media (max-width: 600px) {
    #nav ul {
        text-align: justify;
    }

    #nav ul li {
        display: block;
    }

    #nav ul li a {
        display: block;
        padding: 10px;
    }

    form {
        margin: 5px;
    }

    table {
        display: block;
        overflow-x: auto;
    }
}
